    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>Geneva, Switzerland &mdash; April 22nd 2017</h2>
              <h3>Facts benefit Society<br/> More information soon</h3>
<!--               <br/>
                <p>Put some stuff in _includes/about.html</p>
                <br/>
 -->              </div>
        </div>
    </section>
