<section id="contact">
	<div class="banner">
		<div class="container">

			<div class="row">
				<div class="col-lg-4">
					<h2>Keep in Touch:</h2>
				</div>
				<div class="col-lg-8">
					<ul class="list-inline banner-social-buttons">
						{% for social in site.social %}
						<li>
							<a href="{{ social.url }}" class="btn btn-default btn-lg"><i class="fa fa-{{ social.icon | default: social.title }} fa-fw"></i> <span class="network-name">{{ social.title }}</span></a>
						</li>
						{% endfor %}
                                                <li>
                                                  <form id="paypal-form" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                  <input type="hidden" name="cmd" value="_s-xclick">
                                                  <input type="hidden" name="hosted_button_id" value="LXU5GJVMSJN38">
                                                  <button form="paypal-form" alt="PayPal - The safer, easier way to pay online!" class="btn btn-default btn-lg"><i class="fa fa-paypal" aria-hidden="true"></i> <span class="network-name">Donate</span></button>
                                                  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                                  </form>
                                                </li>
					</ul>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
