<section id="news" class="container content-section">
    {% for news in site.news %}
      {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
        <div class="col-sm-3">
          <a href="{{ news.link }}">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ news.title }}</h3>
              </div>
              {% comment %}negative margin to get rid of margin from paragraph tag inside body{% endcomment %}
              <div class="panel-body" style="margin-bottom: -10px; word-wrap:break-word;">
                {{ news.content }}
              </div>
              <div class="panel-footer" style="word-wrap:break-word;">
                {{ news.link }}
              </div>
            </div>
          </a>
        </div>
      {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}
</section>
