<section id="news" class="container content-section">
    {% for news in site.news %}
      {% cycle 'add row' : '<div class="row">', nil, nil, nil %}
        <div class="col-sm-3">
          <a href="{{ news.url }}">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{ news.title }}</h3>
              </div>
              <div class="panel-body">
                {{ news.content }}
              </div>
            </div>
          </a>
        </div>
      {% cycle 'end row' : nil, nil, nil, '</div>' %}
    {% endfor %}
    {% cycle 'end row' : nil, '</div>', '</div>', '</div>' %}
</section>
