    <!-- About Section -->
      <section id="press" class="container content-section">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <h3>Download Press Release</h3>
            <ul>
              <li><a href="/assets/press_release/March_for_Science_Geneva_Press_Release_EN.pdf">English</a></li>
            <li><a href="/assets/press_release/March_for_Science_Geneva_Press_Release_FR.pdf">French</a></li>
            <li><a href="/assets/press_release/March_for_Science_Geneva_Press_Release_DE.pdf">German</a></li>
            </ul>
          </div>
          <div class="col-lg-8 col-lg-offset-2">
            <h2>Press Release</h2>
            <h4>FOR IMMEDIATE RELEASE</h4>
              <p>On April 22nd, 2017, Earth Day, the March For Science, Geneva, will be one of hundreds of marches taking place around the world to affirm that science is crucial to society — and belongs to everyone.</p>

              <p>The event will begin with a rally at 10 AM in the Jardin Anglais, near the waterfront in downtown Geneva, continue with a march along Lac Léman, and return to the Jardin Anglais. The march will be followed by a “Celebration of Science” showcase featuring discussions among the public and scientists, and talks from researchers hailing from institutions around Switzerland such as the Université de Genève, École Polytechnique Fédérale de Lausanne, CERN, and the World Climate Research Programme.</p>
              <p>“Geneva and the neighboring regions are unique since they’re the home of so many world-leading organizations dedicated to science for peaceful, progressive and humanitarian purposes,” says Daphne Donis, a member of the March for Science, Geneva, organizing committee.</p>
              <p>Tien-Tien Yu, another member of the organizing committee, adds, “We have a great opportunity to celebrate science in the Geneva region. However, we also have the responsibility to confront any attempts to undermine science and scientific thinking.”</p>
              <p>The March for Science, Geneva, affirms the centrality of open, inclusive science to a healthy society and asserts the following:</p>
              <ul>
                <li> Science benefits humanity, generating new technologies, cures for diseases, and improved living conditions.</li>
                <li> Science is non-partisan, since scientific results are independent of political affiliation, and should be free and available to everyone. </li>
                <li> Policy should be informed by science, because science is a universal set of tools that exists independent of public policy. </li>
                <li> Citizens have the right to be informed, and to have access to comprehensible and unbiased scientific reports from trustworthy sources. </li>
                <li> Every person is, at heart, a scientist, irrespective of title, age, or culture. Curiosity is human, and is the foundation of all scientific endeavors. Science is everywhere and affects everyone. </li>
              </ul>
              <p>While the government of Switzerland — and the Cantons of Geneva and Vaud in particular — have firm, long-standing commitments to open, inclusive science, this is in stark contrast to the troubling, aggressive, and selective undermining of the credibility of science for political purposes elsewhere in the world. The march celebrates science for the good of humanity — as well as the Swiss commitment to science as an example to communities worldwide — while simultaneously rejecting anti-scientific sentiments and actions.</p>

              <p>The march organizers also recognize that history is filled with cautionary examples in which science has been used to discriminate based on race, gender, religion, sexual identity, disability, and socioeconomic class. “We acknowledge this history, and we explicitly reject all contemporary and future attempts to co-opt the methods of science to oppress or marginalize any group of people,” says Tova Holmes, another member of the organizing committee.</p>

              <p>Clara Nellist, another organizing committee member, continues, “Actions and attitudes that are contrary to the free flow of ideas and of people around the globe have negative consequences not just for society but for science and research. Diversity makes the world better, and makes us better scientists.”</p>

              <p>“‘Alternative facts’ don’t exist, and scientific consensus exists outside of and above politics,” says James Beacham, also a member of the organizing committee. “To assert otherwise is to contradict the foundations of evidence- based science, and to disregard what science has done for society. We’re marching because facts are immutable, empiricism is the best method we possess to differentiate truth from falsehood, and science, free from partisanship and prejudice, benefits humanity.”</p>

              <p>"With the combination march and celebration, we hope to bring science and the public closer together and help to lower or even remove the distrust of science that some may still have. Science is not based on magic but reality,” emphasizes Sabine Flury, another organizing committee member.</p>

              <p>“As scientists, we embrace the responsibility to share our research with the public,” says Courtney Thomas, a member of the organizing committee. “We invite all members of the public to join us in Geneva at the Jardin Anglais on April 22nd for our rally and afterward for the ‘Celebration of Science.’ This event will highlight the groundbreaking research being done by researchers at Swiss institutions, and we invite everyone to discover the exciting world of science and science research."</p>

              <h5>How do people join and find out more?</h5>

              <p>The March for Science, Geneva, is non-partisan and welcomes everyone who supports open, inclusive, empirical science for the good of humanity. More information can be found — and donations can be made — at <a href="http://marchforsciencegeneva.org">http://marchforsciencegeneva.org</a>. Press inquiries can be directed to <a href="mailto:contact@marchforsciencegeneva.org">contact@marchforsciencegeneva.org</a>.  The march route and the Jardin Anglais are fully wheelchair accessible. There are two wheelchair accessible Eurokey toilets in the vicinity, each within a few hundred meters of the rally location.</p>
          </div>
        </div>
      </section>
