    <!-- About Section -->
    <section id="vision" class="container content-section">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2">
              <h2>Our Vision</h2>
              <p>
              The March for Science, Geneva, brings together enthusiasts of and advocates for science from the community and the numerous publicly-supported research institutions in Switzerland to affirm the following:
              </p>
              <ul>
                <li>Science benefits humanity, generating new technologies, cures for diseases, and improved living conditions.</li>
                <li>Science is non-partisan, since scientific results are independent of political affiliation, and should be free and available to everyone.</li>
                <li>Science is non-partisan, since scientific results are independent of political affiliation, and should be free and available to everyone.</li>
                <li>Policy should be informed by science, because science is a universal set of tools that exists independent of public policy.</li>
                <li>Citizens have the right to be informed, and to have access to comprehensible and unbiased scientific reports from trustworthy sources.</li>
                <li>Every person is, at heart, a scientist, irrespective of title, age, or culture.  Curiosity is human, and is the foundation of all scientific endeavors.  Science is everywhere and affects everyone.</li>
              </ul>
              <p>
              We recognize the firm, long-standing commitment to open, inclusive science by the governments of Switzerland and the Canton of Geneva, and we celebrate this commitment as an example to communities worldwide.
              </p>
              <p>
              We acknowledge that history is filled with cautionary examples in which science has been invoked or used to discriminate based on race, gender, religion, sexual identity and socioeconomic class.  To that end , we explicitly reject all contemporary and future attempts to co-opt the methods of science to oppress or marginalize any group of people.
              </p>
              <p>
              We affirm that facts are immutable, empiricism is the best method we possess to differentiate truth from falsehood, and that science, free from partisanship and prejudice, benefits humanity.
              </p>
              <hr/>
              <h2>Notre Vision</h2>
              <p>
              La Marche pour la Science à Genève rassemble des amateurs et défenseurs de la science, simples citoyens et membres de nombreuses institutions de recherche publiques en Suisse, pour affirmer ce qui suit:
              </p>

              <ul>
                <li>
                  La science profite à l'humanité, elle génère de nouvelles technologies, des remèdes contre les maladies, elle améliore nos conditions de vie.
                </li>
                <li>
                  La science est impartiale, parce que les données scientifiques sont indépendant des idées et affiliations politiques. Ces données doivent être disponible gratuitement et être accessibles par tous.
                </li>
                <li>
                  La politique doit tenir compte de la science, parce que la science nous offre des outils et des données qui sont valables indépendamment des politiques publiques.
                </li>
                <li>
                  Les citoyen-e-s ont le droit d'être informés, et d'avoir accès à des rapports scientifiques compréhensibles et impartiaux provenant de sources fiables.
                </li>
                <li>
                  Nous sommes tous, au fond, des scientifiques, quelle que soit notre occupation, notre âge ou notre culture. La curiosité est humaine, c'est le fondement tout effort scientifiques. La science est partout et affecte tout le monde.
                </li>
              </ul>
              <p>
              Nous reconnaissons l'engagement solide et durable du gouvernements suisse et du canton de Genève enfaveur d'une science ouverte et inclusive, et nous célébrons cet engagement en tant qu'exemple pour lescommunautés du monde entier.
              </p>
              <p>
              Nous sommes conscients qu' à travers l'histoire, la science a souvent été invoquée ou utilisée pour discriminer sur base de la couleur de la peau, du sexe, de la religion, de l'identité sexuelle et de la classesociale. Nous rejetons explicitement toutes les tentatives présentes et futures de coopter la science et ses méthodes pour opprimer ou marginaliser quels que groupes que ce soit.
              </p>
              <p>
              Nous affirmons que les faits scientifiques sont immuables, que la méthode empirique est le meilleure méthode dont nous disposons pour différencier la vérité de l'erreur, et que la science, impartiale et sans préjugés, profite à l'humanité.
            </div>
        </div>
    </section>
